<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
	<link rel="icon" type="image/ico" href="/static/Bucket.ico"/>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
  <link type="text/css" rel="stylesheet" href="/static/bootstrap.css" />
  <link type="text/css" rel="stylesheet" href="/static/bootstrap-responsive.css" />
  <script src="/static/holder.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://isotope.metafizzy.co/isotope.pkgd.min.js"></script>
<title>Bucket List</title>
<script>

$(document).ready(function() {
	$("#pl-row").hide();
	$("#game-row").hide();

	$("#filtertype").change(function() {
		$('.isotope').isotope({filter: '*'});
		var result= $(this).val();
		if (result=="pl-row"){
			$("#pl-row").show();
			$("#game-row").hide();
		}
		else if (result=="game-row"){
			$("#pl-row").hide();
			$("#game-row").show();
		}
		else {
			$("#pl-row").hide();
			$("#game-row").hide();
		}
	});
});
</script>
<script>
$(function() {
    $('#proj-menu').click(function(){
      $('.proj-submenu').toggle();

    });
     $('#pl-menu').click(function(){
      $('.proj-pl-submenu').toggle();
    });
    $('#game-menu').click(function(){
      $('.proj-games-submenu').toggle();
    });

    $('#outreach-menu').click(function(){
      $('.outreach-submenu').toggle();
    });
        $('#school-menu').click(function(){
      $('.outreach-school-submenu').toggle();
    });
    $('#diver-menu').click(function(){
      $('.outreach-div-submenu').toggle();
    });

    $('#events-menu').click(function(){
      $('.events-submenu').toggle();
    });
});
</script>

<script>
 $( function() {
  
  $('.isotope').isotope({
    itemSelector: '.item',
    masonryHorizontal: {
      columnWidth: 200
    }
  });
$('#pl-row').on( 'click', 'button', function() {
  var filterValue = $(this).attr('data-filter');
  $('.isotope').isotope({ filter: filterValue });
});

$('#game-row').on( 'click', 'button', function() {
  var filterValue = $(this).attr('data-filter');
  $('.isotope').isotope({ filter: filterValue });
});
}); 
</script>

</head>
  <body>

	<div class="container"><nav class="navbar navbar-default">
<ul class="nav navbar-nav">
    <li><a href="{{ url|safe }}">{{ login_logout_text }}</a></li>
    <li><a href="{{ url|safe }}">My Buckets </a></li>
    <form action="/upload"><input type="submit" value="Upload"></form>
    <!--<li><a href="/upload"><button type="submit" class="btn btn-default"> + Upload </a></li>-->
</ul>
</nav>
<br>

	<div class="page-header">
	
		<h1> bucketlist <small> a community of resources for students in tech </small></h1>

	</div>

<div class="row">
	<div class="span2" id="buckets">
	<h2>Buckets</h2>
	<ul id="menu">
		<li id="proj-menu">Projects</li>
			<ul class="proj-submenu">
			<li id="pl-menu" class="proj-submenu">Programming Languages</li>
				<ul class="proj-pl-submenu">
					<li class=" proj-pl-submenu">Python</li>
					<li class=" proj-pl-submenu">C</li>
					<li class=" proj-pl-submenu">Javascript</li>
				</ul>
			<li id="game-menu" class="proj-submenu">Games</li>
				<ul class="proj-submenu">
					<li class=" proj-games-submenu">Puzzle</li>
					<li class=" proj-games-submenu">Number</li>
					<li class=" proj-games-submenu">Adventure</li>
				</ul>
			</ul>
		<li id="outreach-menu">Outreach</li>
			<ul class="outreach-submenu">
				<li id="school-menu" class="outreach-submenu">School Level</li>
					<ul class="outreach-school-submenu">
					<li class=" outreach-school-submenu">K-6</li>
					<li class=" outreach-school-submenu">Middle School</li>
					<li class=" outreach-school-submenu">High School</li>
					<li class=" outreach-school-submenu">College</li>
					</ul>
				<li id="diver-menu" class="outreach-submenu">Diversity</li>
					<ul class="outreach-div-submenu">
						<li class=" outreach-div-submenu">Women</li>
						<li class=" outreach-div-submenu">Veterans</li>
						<li class=" outreach-div-submenu">Disabilities</li>
						<li class=" outreach-div-submenu">Minorities</li>
					</ul>
			</ul>
		<li id="events-menu">Events</li>
			<li class="events-submenu">Hacakthons</li>
			<li class="events-submenu">Tech Talks</li>
			<li class="events-submenu">Job Fairs</li>

	</ul>

<!-- 		<ul id="menu">
		<li id="menu-projects"> <a href="">Projects</a></li>
			<ul id="projects-items">
			<li id="proglang"> <a href="">Programming Languages</a></li>
				<ul id="lang-items">
					<li class="lang-items" id="c-lang"><a href="">C</a></li>
					<li class="lang-items" id="python-lang"><a href="">Python</a></li>
					<li class="lang-items" id="js-lang"><a href="">Javascript</a></li>
				</ul>
			<li id="gametype"> <a href="">Games</a></li>
				<ul id="game-items">
					<li id="game-puzzle"><a href="">Puzzle</a></li>
					<li id="game-number"><a href="">Number</a></li>
					<li id="game-adventure"><a href="">Adventure</a></li>
				</ul>
			</ul>
		<li id="menu-outreach"> <a href="">Outreach</a></li>
			<ul id="outreach-items">
			<li id="menu-school"> <a href="">School Level</a></li>
				<ul id="school-items">
				<li id="k-6"> <a href="">Elementary and earlier</a></li>
				<li id="middleschool"> <a href="">Middle School</a></li>
				<li id="highschool"> <a href="">High School</a></li>
				<li id="college"> <a href="">College</a></li>
				</ul>
			<li item="menu-diversity"> <a href="">Diversity</a></li>
				<ul id="diversity-items">
				<li id="women"> <a href="">Women</a></li>
				<li id="veterans"> <a href="">Veterans</a></li>
				<li id="disabilities"> <a href="">Disabilities</a></li>
				<li id="minorities"> <a href="">Minorities</a></li>
				</ul>
			</ul>
		<li id="menu-events"> <a href="">Events</a></li>
			<ul id="events-items">
				<li id="hackathons"> <a href="">Hackathons</a></li>
				<li id="techtalks"> <a href="">Tech Talks</a></li>
				<li id="jobfairs"> <a href="">Job Fairs</a></li>
			</ul>
		</ul>
 -->	</div>
<div class="span10">

<select id="filtertype">
	<option >Select filter type...</option>
	<option value="pl-row" id="proglang">Programming Languages</option>
	<option value="game-row" id="gametype">Game Type</option>
</select>

<div id="pl-row" class="button-group">
  <button data-filter="*">show all</button>
  <button data-filter=".pl-python">python</button>
  <button data-filter=".pl-c">c</button>
  <button data-filter=".pl-javascript">javascript</button>
</div>

<div id="game-row" class="button-group">
  <button data-filter="*">show all</button>
  <button data-filter=".game-puzzle">puzzle</button>
  <button data-filter=".game-number">number</button>
  <button data-filter=".game-adventure">adventure</button>
</div>

<div class="isotope">
		{% for greeting in greetings %}
	  <div class="item span3 {{greeting.category}} ">
		<a href="{{greeting.link}}" class="thumbnail">
			<img src="{{greeting.image}}" alt="...">
			<div class="caption">

				<b>{{greeting.title}}</b>
				<blockquote>{{ greeting.description }}</blockquote>
				<span class="badge">{{ greeting.date }}</span><br>
				{% if greeting.author %}
					<i>from {{ greeting.author.nickname() }}</i>
				{% else %}
					<i>from an anonymous person</i>
				{% endif %}

			</div>
		</a>
		</div>
	{% endfor %}

	  <div class="item span3 pl-python game-adventure">
		<a href="#" class="thumbnail">
			<img src="https://camo.githubusercontent.com/901450ea736f8347c94c8244a921074fb2f631a1/68747470733a2f2f7261772e6769746875622e636f6d2f6a757374696e6d6569737465722f4d6172696f2d4c6576656c2d312f6d61737465722f73637265656e73686f742e706e67" alt="...">
			<div class="caption">
					<b>from sophiahaire</b>
				<blockquote>Super Mario Bros Level 1</blockquote>
			</div>
		</a>
		</div>
	  <div class="item span3 game-puzzle">
		<a href="#" class="thumbnail">
			<img src="http://i.huffpost.com/gen/1222898/thumbs/o-CANDY-CRUSH-facebook.jpg" alt="...">
			<div class="caption">
					<b>from amritamaz</b>
				<blockquote>Candy Crush: a cool app I made myself!!!!!!</blockquote>
			</div>
		</a>
		</div>
	  <div class="item span3">
		<a href="#" class="thumbnail">
			<img src="https://sites.google.com/a/google.com/2014-google-scholars-retreat/_/rsrc/1369850855577/home/Screen%20Shot%202013-05-28%20at%2012.08.13%20PM.png.1369850855359.png" alt="...">
			<div class="caption">
					<b>from sophiahaire</b>
				<blockquote>The Google Scholars Retreat has a cool hackathon to go to! </blockquote>
			</div>
		</a>
		</div>
	  <div class="item span3 pl-javascript game-puzzle">
		<a href="#" class="thumbnail">
			<img src="http://chalchicha.com/files/2012/05/Snake-Nokia.gif" alt="...">
			<div class="caption">
					<b>from amrita</b>
				<blockquote>Cool version of snake in javascript</blockquote>
			</div>
		</a>
		</div>
	  <div class="item span3 pl-javascript game-number">
		<a href="#" class="thumbnail">
			<img src="http://ironyca.files.wordpress.com/2014/03/2048-highscore.jpg" alt="...">
			<div class="caption">
					<b>from sherry</b>
				<blockquote>2048 is a cool open-source project with freely availale code!</blockquote>
			</div>
		</a>
		</div>
	  <div class="item span3">
		<a href="#" class="thumbnail">
			<img src="http://www.hackmidwest.com/startup/common-files/img/kansascity.jpg" alt="...">
			<div class="caption">
					<b>from andy</b>
				<blockquote>Hack Midwest - a 24 hour app-building competition for university students (undergraduate/graduate) AND professional designers/developers to come together and create something awesome</blockquote>
			</div>
		</a>
		</div>
		</div>
</div> <!-- end isotope demo -->
</div>
<!-- <div class="panel">
    <form action="/sign?guestbook_name={{ guestbook_name }}" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Sign Guestbook"></div>
    </form>
</div>
    <hr>

    <form>Guestbook name:
      <input value="{{ guestbook_name }}" name="guestbook_name">
      <input type="submit" value="switch">
    </form>
 -->
<hr>
 <footer>
 	Made by Amrita, Andy, Sherry, and Sophia!
 </footer>
	</div>
  </body>
</html>
{% endautoescape %}
