<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
	<link rel="icon" type="image/ico" href="/static/Bucket.ico"/>
  <link type="text/css" rel="stylesheet" href="/static/bootstrap.css" />
  <link type="text/css" rel="stylesheet" href="/static/bootstrap-responsive.css" />
    <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <script src="/static/holder.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://isotope.metafizzy.co/isotope.pkgd.min.js"></script>
<title>Bucket List | My Buckets</title>
<script>
$(function() {
    $('#proj-menu').click(function(){
      $('.proj-submenu').toggle();

    });
     $('#pl-menu').click(function(){
      $('.proj-pl-submenu').toggle();
    });
    $('#game-menu').click(function(){
      $('.proj-games-submenu').toggle();
    });

    $('#outreach-menu').click(function(){
      $('.outreach-submenu').toggle();
    });
        $('#school-menu').click(function(){
      $('.outreach-school-submenu').toggle();
    });
    $('#diver-menu').click(function(){
      $('.outreach-div-submenu').toggle();
    });

    $('#events-menu').click(function(){
      $('.events-submenu').toggle();
    });
});
</script>

<script>
 $( function() {
  
  $('.isotope').isotope({
    itemSelector: '.item',
    masonryHorizontal: {
      columnWidth: 200
    }
  });
// $('#pl-row').on( 'click', 'button', function() {
//   var filterValue = $(this).attr('data-filter');
//   $('.isotope').isotope({ filter: filterValue });
// });

$('#buckets-label').click( function(){
	  var filterValue = $(this).attr('data-filter');
  $('.isotope').isotope({ filter: filterValue });
});
$('#proj-menu').click( function(){
	  var filterValue = $(this).attr('data-filter');
  $('.isotope').isotope({ filter: filterValue });
});
$('#outreach-menu').click( function(){
	  var filterValue = $(this).attr('data-filter');
  $('.isotope').isotope({ filter: filterValue });
});
$('#events-menu').click( function(){
	  var filterValue = $(this).attr('data-filter');
  $('.isotope').isotope({ filter: filterValue });
});
 $('#pl-menu').click( function(){
	  var filterValue = $(this).attr('data-filter');
  $('.isotope').isotope({ filter: filterValue });
});

 $('#game-menu').click( function(){
	  var filterValue = $(this).attr('data-filter');
  $('.isotope').isotope({ filter: filterValue });
});
$('#school-menu').click( function(){
	  var filterValue = $(this).attr('data-filter');
  $('.isotope').isotope({ filter: filterValue });
});
$('#diver-menu').click( function(){
	  var filterValue = $(this).attr('data-filter');
  $('.isotope').isotope({ filter: filterValue });
});

$('.game-puzz').click( function(){
	  var filterValue = $(this).attr('data-filter');
  $('.isotope').isotope({ filter: filterValue });
});
$('.game-num').click( function(){
	  var filterValue = $(this).attr('data-filter');
  $('.isotope').isotope({ filter: filterValue });
});

$('.game-adv').click( function(){
	  var filterValue = $(this).attr('data-filter');
  $('.isotope').isotope({ filter: filterValue });
});

$('.proj-python').click( function(){
	  var filterValue = $(this).attr('data-filter');
  $('.isotope').isotope({ filter: filterValue });
});

$('.proj-c').click( function(){
	  var filterValue = $(this).attr('data-filter');
  $('.isotope').isotope({ filter: filterValue });
  });


$('.proj-js').click( function(){
	  var filterValue = $(this).attr('data-filter');
  $('.isotope').isotope({ filter: filterValue });
});

$('.outreach-k6').click( function(){
	  var filterValue = $(this).attr('data-filter');
  $('.isotope').isotope({ filter: filterValue });
});
$('.outreach-middleschool').click( function(){
	  var filterValue = $(this).attr('data-filter');
  $('.isotope').isotope({ filter: filterValue });
});
$('.outreach-highschool').click( function(){
	  var filterValue = $(this).attr('data-filter');
  $('.isotope').isotope({ filter: filterValue });
});
$('.outreach-college').click( function(){
	  var filterValue = $(this).attr('data-filter');
  $('.isotope').isotope({ filter: filterValue });
});
$('.outreach-women').click( function(){
	  var filterValue = $(this).attr('data-filter');
  $('.isotope').isotope({ filter: filterValue });
});
$('.outreach-veterans').click( function(){
	  var filterValue = $(this).attr('data-filter');
  $('.isotope').isotope({ filter: filterValue });
});
$('.outreach-disabilities').click( function(){
	  var filterValue = $(this).attr('data-filter');
  $('.isotope').isotope({ filter: filterValue });
});
$('.outreach-minorities').click( function(){
	  var filterValue = $(this).attr('data-filter');
  $('.isotope').isotope({ filter: filterValue });
});
$('.events-hackathons').click( function(){
	  var filterValue = $(this).attr('data-filter');
  $('.isotope').isotope({ filter: filterValue });
});
$('.events-techtalks').click( function(){
	  var filterValue = $(this).attr('data-filter');
  $('.isotope').isotope({ filter: filterValue });
});
$('.events-jobfairs').click( function(){
	  var filterValue = $(this).attr('data-filter');
  $('.isotope').isotope({ filter: filterValue });
});

// $('#game-row').on( 'click', 'button', function() {
//   var filterValue = $(this).attr('data-filter');
//   $('.isotope').isotope({ filter: filterValue });
// });
}); 
</script>

</head>
  <body>

	<div class="container">

	<div class="page-header">
		<h1><a href="/"> bucketlist</a> <small> a community of resources for students in tech </small></h1>
<div id="navigators">
 <ul class="nav nav-pills">
 				<li><form class="navbar-form navbar-left" action="upload"><input class="btn" type="submit" value="Upload"></form></li>
		    <li><a href="/mybuckets">My Buckets </a></li>
		    <li><a href="{{ url|safe }}">{{ login_logout_text }}</a></li>
</ul>

</div>
	</div>


<div class="row">
	<div class="span2" id="buckets">
	<a><div data-filter="*" id="buckets-label"><h2>Buckets</h2></div></a>
	<ul id="menu">
		<a><li data-filter=".pl-python, .pl-c, .pl-javascript, .game-puzzle, .game-number, .game-adventure" id="proj-menu">Projects</li></a>
			<ul class="proj-submenu">
			<a><li data-filter=".pl-python, .pl-c, .pl-javascript, .game-puzzle, .game-number, .game-adventure" id="pl-menu" class="proj-submenu">Programming Languages</li></a>
				<ul class="proj-pl-submenu">
					<a><li data-filter=".pl-python" class="proj-python proj-pl-submenu">Python</li></a>
					<a><li data-filter=".pl-c" class="proj-c proj-pl-submenu">C</li></a>
					<a><li data-filter=".pl-javascript" class="proj-js proj-pl-submenu">Javascript</li></a>
				</ul>
			<a><li data-filter=".pl-python, .pl-c, .pl-javascript, .game-puzzle, .game-number, .game-adventure" id="game-menu" class="proj-submenu">Games</li></a>
				<ul class="proj-submenu">
					<a><li data-filter=".game-puzzle" class="game-puzz proj-games-submenu">Puzzle</li></a>
					<a><li data-filter=".game-number" class="game-num proj-games-submenu">Number</li></a>
					<a><li data-filter=".game-adventure" class="game-adv proj-games-submenu">Adventure</li></a>
				</ul>
			</ul>
		<a><li data-filter=".outreach-k6, .outreach-middleschool, .outreach-highschool, .outreach-college, .outreach-women, .outreach-disabilities, .outreach-minorities, .outreach-veterans" id="outreach-menu">Outreach</li></a>
			<ul class="outreach-submenu">
				<a><li data-filter=".outreach-k6, .outreach-middleschool, .outreach-highschool, .outreach-college, .outreach-women, .outreach-disabilities, .outreach-minorities, .outreach-veterans" id="school-menu" class="outreach-submenu">School Level</li></a>
					<ul class="outreach-school-submenu">
						<a><li data-filter=".outreach-k6" class="outreach-k6 outreach-school-submenu">K-6</li></a>
						<a><li data-filter=".outreach-middleschool" class="outreach-middleschool outreach-school-submenu">Middle School</li></a>
						<a><li data-filter=".outreach-highschool" class="outreach-highschool outreach-school-submenu">High School</li></a>
						<a><li data-filter=".outreach-college" class="outreach-college outreach-school-submenu">College</li></a>
					</ul>
				<a><li data-filter=".outreach-k6, .outreach-middleschool, .outreach-highschool, .outreach-college, .outreach-women, .outreach-disabilities, .outreach-minorities, .outreach-veterans" id="diver-menu" class="outreach-submenu">Diversity</li></a>
					<ul class="outreach-div-submenu">
						<a><li data-filter=".outreach-women" class="outreach-women outreach-div-submenu">Women</li></a>
						<a><li data-filter=".outreach-veterans" class="outreach-veterans outreach-div-submenu">Veterans</li></a>
						<a><li data-filter=".outreach-disabilities" class="outreach-disabilities outreach-div-submenu">Disabilities</li></a>
						<a><li data-filter=".outreach-minorities" class="outreach-minorities outreach-div-submenu">Minorities</li></a>
					</ul>
			</ul>
		<a><li data-filter=".events-hackathons, .events-techtalks, .events-jobfairs" id="events-menu">Events</li></a>
			<ul class="events-submenu">
				<a><li data-filter=".events-hackathons" class="events-hackathons events-submenu">Hacakthons</li></a>
				<a><li data-filter=".events-techtalks" class="events-techtalks events-submenu">Tech Talks</li></a>
				<a><li data-filter=".events-jobfairs" class="events-jobfairs events-submenu">Job Fairs</li></a>
			</ul>
	</ul>
	</div>
<div class="span10">

<div class="isotope">
		{% for greeting in greetings %}
		{% if greeting.author == curr_username %}
	  <div class="item span3 {{greeting.category}} ">
		<a href="{{greeting.link}}" class="thumbnail">
			<img src="{{greeting.image}}" alt="...">
			<div class="caption">

				<b>{{greeting.title}}</b>
				<blockquote>{{ greeting.description }}</blockquote>
<br>				{% if greeting.author %}
					<i>{{ greeting.author.nickname() }}:</i>
				{% else %}
					<i>an anonymous person:</i>
				{% endif %}

			</div>
		</a>
		</div>
		{% endif %}
	{% endfor %}
<!-- 
	  <div class="item span3 pl-python game-adventure">
		<a href="https://github.com/justinmeister/Mario-Level-1" target="_blank" class="thumbnail">
			<img src="https://camo.githubusercontent.com/901450ea736f8347c94c8244a921074fb2f631a1/68747470733a2f2f7261772e6769746875622e636f6d2f6a757374696e6d6569737465722f4d6172696f2d4c6576656c2d312f6d61737465722f73637265656e73686f742e706e67" alt="...">
			<div class="caption">
					<b>from sophiahaire</b>
				<blockquote>Super Mario Bros Level 1</blockquote>
			</div>
		</a>
		</div>
	  <div class="item span3 game-puzzle">
		<a href="http://www.candycrushsaga.com/" target="_blank" class="thumbnail">
			<img src="http://i.huffpost.com/gen/1222898/thumbs/o-CANDY-CRUSH-facebook.jpg" alt="...">
			<div class="caption">
					<b>from amritamaz</b>
				<blockquote>Candy Crush: a cool app I made myself!!!!!!</blockquote>
			</div>
		</a>
		</div>
	  <div class="item span3 outreach-women outreach-middleschool">
		<a href="https://www.facebook.com/media/set/?set=oa.10152422593263524&type=1" target="_blank" class="thumbnail">
			<img src="http://i55.photobucket.com/albums/g148/sherry191/10269057_10203527674054016_1428448543821007494_o_zpsb71e8aa5.jpg" alt="...">
			<div class="caption">
					<b>from sherryshi</b>
				<blockquote>Girl Scouts Discover STEM...an outreach event I recently held </blockquote>
			</div>
		</a>
		</div>
	 <div class="item span3 outreach-disabilities outreach-college">
		<a href="http://www.washington.edu/accesscomputing/" target="_blank" class="thumbnail">
			<img src="http://doit-prod.s.uw.edu/accesscomputing/sites/default/files/357_Summer_Study_Candids_2011.jpg"...">
			<div class="caption">
					<b>from sophia</b>
				<blockquote>Computer science outreach for students with disabilities at Washington College -- awesome </blockquote>
			</div>
		</a>
		</div>
	  <div class="item span3 outreach-women outreach-highschool outreach-middleschool outreach-college">
		<a href="http://www.google.com/diversity/for-the-future.html#getting-girls-to-code" target="_blank" class="thumbnail">
			<img src="http://www.google.com/images/logos/google_logo_41.png" alt="...">
			<div class="caption">
					<b>from sophiahaire</b>
				<blockquote>Google programs to increase diversity in computer science</blockquote>
			</div>
		</a>
		</div>
		<div class="item span3 events-techtalks">
		<a href="https://developer.apple.com/tech-talks/videos/" target="_blank" class="thumbnail">
			<img src="https://devimages.apple.com.edgekey.net/tech-talks/images/hero.jpg" alt="...">
			<div class="caption">
					<b>from andygray</b>
				<blockquote>Apple has some amazing videos from their worldwide tech talks.</blockquote>
			</div>
		</a>
		</div>
	  <div class="item span3 outreach-highschool">
		<a href="https://www.google-melange.com/gsoc/homepage/google/gsoc2014" target="_blank" class="thumbnail">
			<img src="http://1-ps.googleusercontent.com/x/s.google-melange.appspot.com/www.google-melange.com/soc/content/2-1-20140616//images/gsoc/logo/landing-page-gsoc2014.png.pagespeed.ce.t4C4svuO-G.png" alt="...">
			<div class="caption">
					<b>from andy</b>
				<blockquote>High schoolers: check out Google Summer of Code 2014 to try your hand at real coding!</blockquote>
			</div>
		</a>
		</div>
	  <div class="item span3 events-techtalks outreach-college">
		<a href="http://www.scottsdalecc.edu/promo/scc-tech-talks-2014" target="_blank"	class="thumbnail">
			<img src="http://www.scottsdalecc.edu/sites/default/files/images/promo/header/scc-techtalks-2014-1032x182.jpg?1386476835" alt="...">
			<div class="caption">
					<b>from amritamaz</b>
				<blockquote>Tech talks for community college students. Let's get everyone techy!</blockquote>
			</div>
		</a>
		</div>
	  <div class="item span3 outreach-women outreach-college">
		<a href="http://www.cwit.umbc.edu/" target="_blank" class="thumbnail">
			<img src="http://www.cwit.umbc.edu/wp-content/themes/csee/images/banner.png" alt="...">
			<div class="caption">
					<b>from sophiahaire</b>
				<blockquote>UMBC has a scholars program just for women in technology fields</blockquote>
			</div>
		</a>
		</div>
	  <div class="item span3 pl-javascript game-puzzle">
		<a href="http://www.planet-source-code.com/vb/scripts/ShowCode.asp?txtCodeId=1806&lngWId=2" target="_blank" class="thumbnail">
			<img src="http://chalchicha.com/files/2012/05/Snake-Nokia.gif" alt="...">
			<div class="caption">
					<b>from amrita</b>
				<blockquote>Cool version of snake in javascript</blockquote>
			</div>
		</a>
		</div>

		 <div class="item span3 events-jobfairs">
		<a href="http://www.careereducation.columbia.edu/resources/industry/engg/comps" target="_blank" class="thumbnail">
			<img src="http://www.careereducation.columbia.edu/sites/cce/files/logo.gif" alt="...">
			<div class="caption">
					<b>from amritamaz</b>
				<blockquote>Career fairs just for computer science students at Columbia University</blockquote>
			</div>
		</a>
		</div>
	  <div class="item span3 pl-javascript game-number">
		<a href="https://github.com/gabrielecirulli/2048" target="_blank" class="thumbnail">
			<img src="http://ironyca.files.wordpress.com/2014/03/2048-highscore.jpg" alt="...">
			<div class="caption">
					<b>from sherry</b>
				<blockquote>2048 is a cool open-source project with freely availale code!</blockquote>
			</div>
		</a>
		</div>
	  <div class="item span3 events-hackathons">
		<a href="http://www.hackmidwest.com/" target="_blank" class="thumbnail">
			<img src="http://www.hackmidwest.com/startup/common-files/img/kansascity.jpg" alt="...">
			<div class="caption">
					<b>from andy</b>
				<blockquote>Hack Midwest - a 24 hour app-building competition for university students (undergraduate/graduate) AND professional designers/developers to come together and create something awesome</blockquote>
			</div>
		</a>
		</div>
		</div> -->
</div> <!-- end isotope demo -->
</div>
<hr>
 <footer>
 	Made by Amrita, Andy, Sherry, and Sophia!
 </footer>
	</div>
  </body>
</html>
{% endautoescape %}
